<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Python
- R
- Sql

<h2>Author</h2>
Rahat Sarker

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Sql

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|:-----------------|
|Jupyter Notebook|
|RStudio|
|VS Code|

<h3>Below are a few example of evaluating arithmetic expressions in Python</h3>

This a simple arithmatic expression to multiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335